@charset "utf-8";

.content {
    padding: 0 1em 1em 1em;
}

.clear, .clear-left {
    visibility:hidden;
    width: 0;
    height: 0.05px;
    font-size: 0;
}

.clear {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.aside {
    font-size: smaller;
    color: #666;
}

.aside h2 {
    color: #666;
    font-size: 110%;
    font-weight: bold;
}

.float-left {
    float: left;
    margin: 0 1em 0.5em 0;
}

.float-right {
    float: right;
    margin: 0 0 0.5em 1em;
}

/* Старые стили */

.errorlist {
    background-color: #d9a;
    border: 1px solid #b79;
    padding: 0.5em;
    margin: 0.5em 0;
}

.errorlist ul {
    padding: 0;
    margin: 0;
}

.errorlist li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-message {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 0.5em;
    margin: 1em;
}

.site-message ul {
    margin: 0;
}

.preview {
    padding: 1em;
    background-color: #eee;
    border: 1px solid #ddd;
    margin: 1em 0 1em 0;
}

tr.odd {
    background-color: #eee;
}

tr.even {
    background-color: #ddd;
}

.content .hentry .entry-title {
    border-bottom: 1px dotted #aaa;
    margin: 1.5em 0 0 0;
}

.content .hentry h1.entry-title {
    margin: 0.5em 0 0.5em 0;
}

.content .hentry .entry-title a {
    color: #000;
    text-decoration: none;
}

.content .hentry .entry-title a:hover {
    color: #e0242c;
    text-decoration: underline;
}

.content .hentry .entry-meta {
    font-size: smaller;
    margin: 0.5em 0 1em 0;
}

.article-meta {
    font-size: 90%;
    margin: 2em 0 1em 0;
}

.article-meta p {
    margin: 0;
}

.article-menu {
    float: right;
    margin: 0 0 0 1em;
}

/*
.hentry .author {
    display: none;
}
*/

.aside .hfeed {
    background: #f3f5f8;
    padding: 1em 1em 0 1em;
    border: 1px solid #d3d5d8;
    margin: 1em 0;
}

.aside .hfeed h2 {
    border: none;
    margin-top: 0;
}

.aside .hfeed .entry-title {
    font-size: 110%;
    margin-bottom: 0.2em;
}

.aside .hfeed .updated {
    margin-top: 0;
}

div.vcard, p.vcard {
    min-height: 5em;
    background-color: #eee;
    border-right: 1px solid #999 !important;
    border-bottom: 1px solid #999 !important;
    margin: 1em 0 1em 0;
}

.vcard img.photo {
    float: left;
    background: #fff;
    padding: 4px;
    border: 1px solid #aaa;
    margin: 0.5em;
}

.vcard .content {
    padding: 0.5em;
    margin-left: 140px;
}

.vcard .adr {
    margin: 0.5em 0;
}

.paginate {
    padding-top: 0.3em;
    border-top: 1px solid #999;
    margin: 2em 0 0 0;
}

.paginate a {
    text-decoration: none;
}

