@charset "utf-8";

body {
    height: 100%;
    width: 100%;
    font-family: "Trebuchet MS", "Arial", sans-serif;
    font-size: 12pt;
    padding: 0;
    margin: 0;
}

a img {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 170%;
}

h2 {
    font-weight: normal;
    font-size: 140%;
    margin: 1em 0 0.5em 0;
}

a {
    color: #008256;
}

a:hover {
    color: #e0242c;
}

table {
    width: 100%;
}

td, th {
    padding: 0.1em;
}

td, th, pre, code {
    font-size: 90%;
}

th {
    color: #fff;
    background-color: #888;
    text-align: left;
}

td {
    background-color: #ddd;
}

dt {
    font-weight: bold;
}

pre {
    color: #666;
    background: #f3f5f8;
    padding: 0.2em;
    border: 1px solid #d3d5d8;
}

code {
    color: #666;
    background: #f3f5f8;
}

textarea {
    font-family: "Monaco", "DejaVu Sans Mono", monospace;
}

blockquote {
    padding-left: 0.5em;
    border-left: 3px solid #a3a5a8;
    margin: 0;
}
